<div class="d-flex border border-light">
  <!-- side bar -->
  <div
    style="width: 200px; height: 90vh"
    class="sidebar bg-info p-3 d-flex flex-column"
  >
    <a routerLink="/home">Home</a>

    <a routerLink="/users">Users</a>
  </div>

  <!-- dashboard -->
  <div class="dashboard p-3 w-100">
    <!-- title -->
    <div class="title">
      <h1>Add New User</h1>
    </div>
    <!-- user details -->
    <div class="user-details mt-5 shadow border rounded p-3">


      <form #addUserform="ngForm">
        <!-- user id -->
        <div class="form-floating mb-3">
          <input
            type="text"
            #id="ngModel"
            [(ngModel)]="user.id"
            name="id"
            class="form-control"
            id="floatingInputId"
            placeholder="User Id"
            required
            pattern="[0-9]*"
          />
          <label for="floatingInputId">User Id</label>
        </div>
        <!-- erroe msg for id' -->
        <div *ngIf="id.invalid&&id.touched" class="mb-3 text-danger">invalid Id</div>
        <!-- username -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="floatingUsername"
            placeholder="User Name"
            pattern="[a-zA-Z ]*"
            #name="ngModel"
            [(ngModel)]="user.name"
            name="name"
            required
          />
          <label for="floatingUsername">User Name</label>
        </div>
                <!-- erroe msg for username' -->
                <div *ngIf="name.invalid&&name.touched" class="mb-3 text-danger">invalid UserName</div>

        <!-- email -->
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingemail"
            placeholder="Email"
            #email="ngModel"
            [(ngModel)]="user.email"
            name="email"
            email
            required
          />
          <label for="floatingemail">Email</label>
        </div>
                        <!-- erroe msg for email' -->
                        <div *ngIf="email.invalid&&email.touched" class="mb-3 text-danger">invalid email</div>
        <!-- drop down -->
        <div class="form-floating mb-3">
            <select id="floatingStatus" #active="ngModel" class="form-control" name="active" [(ngModel)]="user.active" required >
                <option disabled selected hidden></option>
                <option value="1">Active</option>
                <option value="0">InActive</option>
            </select>
          <label for="floatingStatus">Status</label>
        </div>
        <!-- erroe msg for status' -->
        <div *ngIf="active.invalid&&active.touched" class="mb-3 text-danger">invalid status</div>

                        
        <!-- button -->
        <div class="mt-5 text-center">
            <button class="btn btn-warning" (click)="cancel()" >Cancel</button>
            <button [disabled]="addUserform.invalid" (click)="addUser()" class="btn btn-success ms-5">Save</button>
        </div>
        
      </form>
      
    </div>
  </div>
</div>
